.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textbox {
    height: 250px;
    width: 450px;
    text-align: start;
    resize: none;
}

.subContainer {
    display: flex;
}