<form class="mainform" >
    <div class="container">
        <label for="titlebox">Title:</label>
        <textarea id="titlebox" name="titlebox" [(ngModel)]="post.title"></textarea>

        <label for="textbox">Paragraph:</label>
        <textarea id="textbox" name="textbox" [(ngModel)]="post.detail"></textarea>
        <br><br>

        <button type="button" (click)="save()">Add Post</button>
        <div *ngIf="getIsSaved()" class="subContainer">
            <p>Update Success!</p>
            <button type="button" (click)="closePop()">close</button>
        </div>
        <br>
        
        <button type="button" (click)="reset()">Clear</button>
        <br><br>
        <button type="button" (click)="goDelete()">Delete Post</button>
        <br><br>
        <button type="button" (click)="goHome()">Home</button>
    </div>
</form>