<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Check</th>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th><button type="button">Delete</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td><input type="checkbox"> </td>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.date }}</td>
            </tr>
        </tbody>
    </table>
</div>